@import url("https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:ital,wght@0,500;0,600;1,500&family=Poppins:wght@700&display=swap");
* {
  font-family: "Playfair Display", serif;
}
:root {
  --color-primary: #0a2944;
  --color-white: #fff;
  --color-grey: #8c8e96;
  --color-neutral: #eaeefd;
  --color-neutral-2: #595b62;
  --color-secondary: #5168b5;

  --size-14: 14px;
  --size-16: 16px;
  --size-18: 18px;
  --size-20: 20px;
  --size-24: 24px;
  --size-36: 36px;
  --size-40: 40px;
  --size-60: 60px;
  --size-80: 80px;

  --w-500: 500;
  --w-700: 700;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
h3 {
  font-weight: var(--w-700);
  font-size: var(--size-36);
  color: var(--color-primary);
}
h4 {
  font-weight: var(--w-700);
  font-size: 18px;
}
nav {
  width: calc(100% - 320px * 2);
  padding: 28px 320px;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  z-index: 10;
  align-items: center;

  background-color: var(--color-primary);
  opacity: 0.8;
  color: var(--color-white);
}
nav > ul {
  display: flex;
  list-style-type: none;
  gap: 60px;
}
nav > ul > li {
  cursor: pointer;
  color: var(--color-grey);
}
nav > ul > li:hover {
  color: var(--color-white);
}
header {
  background-color: var(--color-primary);
  padding: 260px 320px 60px 320px;

  display: flex;
  position: relative;

  gap: 60px;
}
.header_text {
  color: var(--color-white);
  width: 40%;
}
.header_text-description {
  font-size: var(--size-16);
}
.header_text-heading {
  font-size: var(--size-36);
  font-weight: var(--w-700);
  margin: 20px 0;
}
.header_text-sub {
  font-size: var(--size-18);
  font-weight: var(--w-700);
  margin-bottom: 24px;
}
.header_img {
}
.header_img > img {
  width: 100%;
  max-width: 734px;
  max-height: 492px;
  position: absolute;
  bottom: -80px;
}
.white-space {
  height: 180px;
}

section.info {
  padding: 100px 320px;
  background: var(--color-neutral);
}
.info_group {
  display: flex;
  gap: 60px;
}
.info_group:first-child {
  margin-bottom: 100px;
}
.info_group-left {
  width: 40%;
}
.info_group-right {
  width: 60%;
}
.info_heading-sub {
  font-size: var(--size-24);
  color: var(--color-grey);
  margin: 16px 0 24px 0;
}
.info_group-right {
  position: relative;
}
.info_group-right > img {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.info_group-right hr {
  margin-bottom: 20px;
}
.info_group-right p {
  margin-bottom: 24px;
}
.archive {
  padding: 100px 320px;
}
.archive h3 {
  text-align: center;
  margin-bottom: 16px;
}
.archive .archive-sub {
  text-align: center;
  color: var(--color-grey);
  margin-bottom: 40px;
}
.archive_detail {
  height: 140px;
  display: flex;
  justify-content: space-between;
}
.archive_detail-xl {
  font-size: var(--size-80);
  color: var(--color-secondary);
}
.archive_detail-sm {
  color: var(--color-primary);
  font-size: var(--size-16);
}
.team {
  padding: 0 320px;
}
.team h3 {
  text-align: center;
  margin-bottom: 16px;
}
.team_sub {
  text-align: center;
  color: var(--color-grey);
  margin-bottom: 60px;
}
.team_grid {
  display: grid;
  column-gap: 40px;
  row-gap: 60px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  padding-bottom: 50px;
}
.team_grid-item {
  cursor: pointer !important;
  padding: 16px;
}
.team_grid-item:hover {
  box-shadow: -4px 8px 32px 0px rgba(21, 28, 52, 0.12);
}
.team_grid-name {
  font-size: var(--size-24);
  font-weight: var(--w-700);
  margin: 24px 0 16px 0;
}
.team_grid-desc {
  display: flex;
  justify-content: space-between;
  font-size: var(--size-14);
  color: var(--color-neutral-2);
}
.team_grid-desc > p:last-child {
  border-bottom: 1px solid var(--color-neutral-2);
}
.client {
  padding: 50px 0;
}
.client_grid {
  display: flex;
  justify-content: space-around;
}
.client h3 {
  text-align: center;
}
.outro {
  margin: 50px auto 120px auto;
  padding: 0 320px;
}
.outro_container {
  display: flex;
  padding: 60px;
  gap: 130px;
  box-shadow: -4px 8px 32px 0px rgba(21, 28, 52, 0.12);
}
.outro_text > h3 {
  font-size: var(--size-40);
}
.outro_text > p {
  margin: 24px 0 48px 0;
}
.outro_text > button {
  padding: 8px 32px;
  border: none;
  cursor: pointer;
  background: var(--color-primary);
  color: var(--color-white);
  font-size: var(--size-18);
}
footer {
  background: #151c34;
  color: var(--color-white);
  padding: 40px 320px;
  display: flex;
  position: relative;
}
.footer_logo {
  height: 52px;
}
.footer_column {
  width: 50%;
}
.footer_social {
  display: flex;
  gap: 16px;
  margin: 36px 0 24px;
}
.footer_social-item {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: #6c7d8c;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_column:last-child {
  display: flex;
  gap: 154px;
}
.footer_item > p {
  padding-top: 12px;
}
.footer_item > h4 {
  text-decoration: underline;
  font-size: var(--size-20);
  margin-bottom: 12px;
}
#scroll_to_top {
  all: unset;
  cursor: pointer;
  background: #5168b5;
  color: var(--color-white);
  position: fixed;
  bottom: 36px;
  right: 100px;
  width: 36px;
  height: 36px;
  text-align: center;
  border-radius: 50%;
}
#team_dialog {
  background: var(--color-white);
  border: none;
  outline: none;
  width: 60%;
  min-height: 60%;
  display: none;
  gap: 48px;
  padding: 55px 64px;
}
.dialog_sub {
  margin: 20px 0 50px 0;
}
.dialog_p {
  margin-top: 50px;
}
#dialog_close-btn {
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 35px;
  right: 35px;
  border-radius: 100%;
}
#dialog_close-btn:hover {
  background-color: rgb(227, 96, 96);
  color: var(--color-white);
}
